.table_component_style {
  * {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }

  .table_container {
    width: 1100px !important;
    margin: 0 auto !important;
  }

  .table_header {
    align-items: center;
    padding: 12px 16px;
    gap: 16px;
    height: 44px;
  }

  .table_header h4 {
    text-align: center;
    font-family: "Arial";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
  }

  .table_pagination {
    padding-top: 40px !important;
  }

  .table_body p {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: black;
  }
}
